In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint
import json
import time

# Import API key
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

615

In [3]:
cities = pd.DataFrame(cities)
cities.head()

             0
0  port alfred
1     malangwa
2       hobart
3      rikitea
4      mataura

In [4]:
#cities.rename(columns={"0" : "Cities"})
cities["Temp"] = ""
cities["Humidity"] = ""
cities["Cloudiness"] = ""
cities["Wind Speed"] =  ""
cities.head()

             0 Temp Humidity Cloudiness Wind Speed
0  port alfred
1     malangwa
2       hobart
3      rikitea
4      mataura

In [5]:
cities_trial = (cities.loc[0:0, 0])
city = (cities.loc[0,0])
cities_trial, city

(0    port alfred
 Name: 0, dtype: object, 'port alfred')

In [6]:
# Save config information.
url = "http://api.openweathermap.org/data/2.5/weather?"
query_url = url + "appid=" + api_key + "&q=" + city + "&units=imperial"
query_url

'http://api.openweathermap.org/data/2.5/weather?appid=de254434e82f1496130e027b56b39867&q=port alfred&units=imperial'

In [7]:
# set up lists to hold reponse info
temp = []
cloud = []
humidity = []
wind_speed = []

# Loop through the list of cities and perform a request for data on each
for city in cities_trial:

    
    weather_response = requests.get(query_url)
    weather_data_json = weather_response.json()
    
    # Add a one second interval between queries to stay within API query limits
    time.sleep(1)
    
    #temp.append(weather_response['main']['temp'])
    #cloud.append(response['clouds']['all'])
    #humidity.append(response['main']['humidity'])
    #wind_speed.append(response['wind']['speed'])

print(weather_data_json)
    
#print(f"The latitude information received is: {lat}")
#print(f"The temperature information received is: {temp}")

{'coord': {'lon': 26.89, 'lat': -33.59}, 'weather': [{'id': 800, 'main': 'Clear', 'description': 'clear sky', 'icon': '01d'}], 'base': 'stations', 'main': {'temp': 55.99, 'pressure': 1023, 'humidity': 86, 'temp_min': 55.99, 'temp_max': 55.99}, 'wind': {'speed': 1.01, 'deg': 340, 'gust': 3}, 'clouds': {'all': 9}, 'dt': 1570768371, 'sys': {'type': 3, 'id': 2011314, 'country': 'ZA', 'sunrise': 1570765003, 'sunset': 1570810894}, 'timezone': 7200, 'id': 964432, 'name': 'Port Alfred', 'cod': 200}