In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint
import json
import time

# Import API key
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

592

In [3]:
cities = pd.DataFrame(cities)
cities.head()

             0
0  tuktoyaktuk
1        kapaa
2         naze
3       muroto
4     thompson

In [4]:
#cities_mod = cities.drop([1])
cities_mod2 = cities.drop(cities.index[16:])

In [5]:
#cities_mod.head()
cities_mod2.head()

             0
0  tuktoyaktuk
1        kapaa
2         naze
3       muroto
4     thompson

In [6]:
#cities.tail()
cities_mod2.tail()

               0
11      souillac
12         sembe
13  kurmanayevka
14       husavik
15      orotukan

In [7]:
#cities.rename(columns={"0" : "Cities"})
#cities["Temp"] = ""
#cities["Humidity"] = ""
#cities["Cloudiness"] = ""
#cities["Wind Speed"] =  ""
#cities.head()

cities_mod2.rename(columns={"0" : "City"})
cities_mod2["Country"] =  ""
cities_mod2["Lat"] = ""
cities_mod2["Long"] = ""
cities_mod2["Temp"] = ""
cities_mod2["Max Temp"] = ""
cities_mod2["Humidity"] = ""
cities_mod2["Cloudiness"] = ""
cities_mod2["Wind Speed"] =  ""



cities_mod2.head()

             0 Country Lat Long Temp Max Temp Humidity Cloudiness Wind Speed
0  tuktoyaktuk
1        kapaa
2         naze
3       muroto
4     thompson

In [8]:
cities_trial = (cities_mod2.loc[0:15, 0])
city = (cities_mod2.loc[0,0])
cities_trial, city

(0       tuktoyaktuk
 1             kapaa
 2              naze
 3            muroto
 4          thompson
 5        kaitangata
 6              lebu
 7            avarua
 8           veraval
 9     palabuhanratu
 10           kodiak
 11         souillac
 12            sembe
 13     kurmanayevka
 14          husavik
 15         orotukan
 Name: 0, dtype: object, 'tuktoyaktuk')

In [20]:
# set up lists to hold reponse info
temp = []
cloud = []
humidity = []
wind_speed = []
country = []
max_temp = []
city_lat = []
city_long = []
number = 1
city_dropped= []

print("Data Retrieval Process")
print("--------------------------------------")


# Loop through the list of cities and perform a request for data on each
for city in cities_trial:

    try:
        
        # Save config information.
        url = "http://api.openweathermap.org/data/2.5/weather?"
        query_url = url + "appid=" + api_key + "&q=" + city + "&mode=json&units=imperial"
        query_url
    
        weather_response = requests.get(query_url)
        weather_data_json = weather_response.json()
    
        # Add a one second interval between queries to stay within API query limits
        time.sleep(1)
    
        temp.append(weather_data_json['main']['temp'])
        cloud.append(weather_data_json['clouds']['all'])
        humidity.append(weather_data_json['main']['humidity'])
        wind_speed.append(weather_data_json['wind']['speed'])
        country.append(weather_data_json['sys']['country'])
        city_lat.append(weather_data_json['coord']['lat'])
        city_long.append(weather_data_json['coord']['lon'])
        max_temp.append(weather_data_json['main']['temp_max'])
        
       
        
        print("Processing Record:  " + str(number) +"  " + city)
        
        number = number + 1
        
    except KeyError:
        print("city not found... skipping")
        #city_dropped.append(weather_data_json['name'])
        continue
    
#print(weather_data_json)

Data Retrieval Process
--------------------------------------
Processing Record:  1  tuktoyaktuk
Processing Record:  2  kapaa
Processing Record:  3  naze
Processing Record:  4  muroto
Processing Record:  5  thompson
Processing Record:  6  kaitangata
Processing Record:  7  lebu
Processing Record:  8  avarua
Processing Record:  9  veraval
city not found... skipping
Processing Record:  10  kodiak
Processing Record:  11  souillac
city not found... skipping
Processing Record:  12  kurmanayevka
Processing Record:  13  husavik
Processing Record:  14  orotukan

In [10]:

pprint(weather_data_json)

{'base': 'model',
 'clouds': {'all': 51},
 'cod': 200,
 'coord': {'lat': 62.26, 'lon': 151.67},
 'dt': 1570833426,
 'id': 2122414,
 'main': {'grnd_level': 940.98,
          'humidity': 86,
          'pressure': 1007,
          'sea_level': 1007,
          'temp': 22.08,
          'temp_max': 22.08,
          'temp_min': 22.08},
 'name': 'Orotukan',
 'sys': {'country': 'RU', 'sunrise': 1570825650, 'sunset': 1570863132},
 'timezone': 39600,
 'weather': [{'description': 'broken clouds',
              'icon': '04n',
              'id': 803,
              'main': 'Clouds'}],
 'wind': {'deg': 248, 'speed': 1.82}}

In [11]:
cities_mod2["Temp"]= temp
cities_mod2["Humidity"] = humidity
cities_mod2["Cloudiness"] = cloud
cities_mod2["Wind Speed"] = wind_speed
cities_mod2["Lat"]= city_lat
cities_mod2["Long"] = city_long
cities_mod2["Country"] = country
cities_mod2["Max Temp"] = max_temp

ValueError: Length of values does not match length of index

In [12]:
temp, len(temp)

([30.2,
  82.56,
  75.2,
  77,
  39.2,
  46.99,
  57.2,
  75.2,
  56.57,
  46.08,
  57.61,
  48.27,
  32.79,
  22.08],
 14)

In [ ]:
cloud

In [ ]:
humidity

In [ ]:
wind_speed

In [ ]:
cities_mod2.head()

In [ ]:
city

In [ ]:
city_lat, len(city_lat)

In [ ]:
city_long, len(city_long)