In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from pprint import pprint
import json
# Import API key
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

624

In [3]:
cities = pd.DataFrame(cities)
cities.head()

             0
0    esperance
1     acapulco
2     hermanus
3  port alfred
4    san ramon

In [4]:
cities.tail()

              0
619        suez
620  solnechnyy
621  slave lake
622    ropczyce
623     hajipur

In [5]:
#cities.rename(columns={"0" : "Cities"})
cities["Temp"] = ""
cities["Humidity"] = ""
cities["Cloudiness"] = ""
cities["Wind Speed"] =  ""
cities.head()

             0 Temp Humidity Cloudiness Wind Speed
0    esperance
1     acapulco
2     hermanus
3  port alfred
4    san ramon

In [7]:
cities_trial = (cities.loc[0:2, 0])
city = (cities.loc[0,0])
cities_trial, city

(0    esperance
 1     acapulco
 2     hermanus
 Name: 0, dtype: object, 'esperance')

In [8]:
# Save config information.
url = "http://api.openweathermap.org/data/2.5/weather?"
query_url = url + "appid=" + api_key + "&q=" + city
query_url

'http://api.openweathermap.org/data/2.5/weather?appid=0b97c7bf7ddd63cfe8e6a755f36cc4fc&q=esperance'

In [11]:
response = requests.get(query_url)
print(response.url)

http://api.openweathermap.org/data/2.5/weather?appid=0b97c7bf7ddd63cfe8e6a755f36cc4fc&q=esperance

In [24]:
# set up lists to hold reponse info
temp = []
cloud = []
humidity = []
wind_speed = []

# Loop through the list of cities and perform a request for data on each
for city in cities_trial:
    
    response = requests.get(query_url).json()
    temp.append(response['main']['temp'])
    cloud.append(response['clouds']['all'])
    humidity.append(response['main']['humidity'])
    wind_speed.append(response['wind']['speed'])

print(response)
    
#print(f"The latitude information received is: {lat}")
#print(f"The temperature information received is: {temp}")

{'coord': {'lon': 121.89, 'lat': -33.86}, 'weather': [{'id': 804, 'main': 'Clouds', 'description': 'overcast clouds', 'icon': '04d'}], 'base': 'stations', 'main': {'temp': 289.15, 'pressure': 1027, 'humidity': 77, 'temp_min': 289.15, 'temp_max': 289.15}, 'visibility': 10000, 'wind': {'speed': 5.7, 'deg': 120}, 'clouds': {'all': 90}, 'dt': 1570423091, 'sys': {'type': 1, 'id': 9525, 'message': 0.0052, 'country': 'AU', 'sunrise': 1570396930, 'sunset': 1570442312}, 'timezone': 28800, 'id': 2071860, 'name': 'Esperance', 'cod': 200}

In [14]:
# Storing the JSON response within a variable
data = response.json()
#print(json.dumps(data, indent=4, sort_keys=True))

In [13]:
data = response.json()
pprint(data)

{'base': 'stations',
 'clouds': {'all': 90},
 'cod': 200,
 'coord': {'lat': -33.86, 'lon': 121.89},
 'dt': 1570422352,
 'id': 2071860,
 'main': {'humidity': 77,
          'pressure': 1027,
          'temp': 289.15,
          'temp_max': 289.15,
          'temp_min': 289.15},
 'name': 'Esperance',
 'sys': {'country': 'AU',
         'id': 9525,
         'message': 0.007,
         'sunrise': 1570396930,
         'sunset': 1570442312,
         'type': 1},
 'timezone': 28800,
 'visibility': 10000,
 'weather': [{'description': 'overcast clouds',
              'icon': '04d',
              'id': 804,
              'main': 'Clouds'}],
 'wind': {'deg': 120, 'speed': 5.7}}

In [29]:
#cities["Temp"]= temp
#cities["Humidity"] = humidity
#cities["Cloudiness"] = cloud
#cities["Wind Speed"] = wind_speed

In [26]:
cities.head()

             0 Temp Humidity Cloudiness Wind Speed
0    esperance
1     acapulco
2     hermanus
3  port alfred
4    san ramon